<app-layout>
  <div style="font-weight: 200; font-size: 18px">
    <div class="mt-5">
      <h1>À propos de noble retour</h1>
      <div style=" font-weight: 200; line-height: 1.5">
        <p>
          L’Asbl NOBLE RETOUR est une association de droit belge,
          enregistrée auprès de la Banque Carrefour des Entreprises depuis le 5 Septembre 2019.
          Elle a été créée pour répondre à un besoin criard de rapatriement des corps dans la dignité humaine.
          L’association naît d’un constat, ainsi que d’un sentiment d’impuissance,
          de tristesse et surtout de beaucoup de douleur suite au décès d’un être cher.
        </p>
        <p>
          Alors que nous n’étions encore que des étudiants, nous avons perdu un membre de notre famille.
          Faute de moyens financiers pour rapatrier la dépouille sur la terre natale, nous avons dû incinérer le corps.
          L’argent que nous avions collecté à l'époque nous a tout juste servi à payer un billet d’avion aller-retour
          pour ramener les cendres à la famille restée au pays.
        </p>
        <p>
          Les traditions africaines veulent que les morts soient enterrés au village auprès des ancêtres.
          Imaginez la frustration que nous avons ressenti de n'avoir pu honorer cet être cher comme
          nous aurions voulu le faire. C'est ainsi que nous nous sommes penchés sur cette problématique.
        </p>
      </div>
    </div>


    <div class="pt-5">
      <h1>Nos missions</h1>
      <div>
        <ul class="app-ul-list" style="font-size: 18px">
          <li>Permettre un retour digne vers la terre mère.</li>
          <li>Permettre aux familles de faire leur deuil sereinement.</li>
          <li>Sensibiliser la diaspora africaine et autres sur les questions liées aux assurances funéraires.</li>
          <li>Fournir une solution simple, efficace et démocratique aux problèmes posés par le décès d’un membre du réseau.</li>
        </ul>
      </div>
    </div>

    <div class="pt-5">
      <h1>Nos valeurs</h1>
      <div class="value-list">
        <div class="value-item">
          <div class="value-number">1</div>
          <div class="value-body">
            <div class="value-title">Loyauté</div>
            <div class="value-text">Qualité d’âme de notre association, elle reflète la sincérité, l’honnêteté, la fidélité,
              la confiance et surtout le dévouement des membres fondateurs envers les adhérents.</div>
          </div>
        </div>

        <div class="value-item">
          <div class="value-number">2</div>
          <div class="value-body">
            <div class="value-title">Loyauté</div>
            <div class="value-text">Qualité d’âme de notre association, elle reflète la sincérité, l’honnêteté, la fidélité,
              la confiance et surtout le dévouement des membres fondateurs envers les adhérents.</div>
          </div>
        </div>

        <div class="value-item">
          <div class="value-number">3</div>
          <div class="value-body">
            <div class="value-title">Loyauté</div>
            <div class="value-text">Qualité d’âme de notre association, elle reflète la sincérité, l’honnêteté, la fidélité,
              la confiance et surtout le dévouement des membres fondateurs envers les adhérents.</div>
          </div>
        </div>

        <div class="value-item">
          <div class="value-number">4</div>
          <div class="value-body">
            <div class="value-title">Loyauté</div>
            <div class="value-text">Qualité d’âme de notre association, elle reflète la sincérité, l’honnêteté, la fidélité,
              la confiance et surtout le dévouement des membres fondateurs envers les adhérents.</div>
          </div>
        </div>

      </div>
    </div>


    <div class="pt-5">
      <h1>Notre équipe</h1>

      <div class="team">
        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>


        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>

        <div class="team-persona">
          <img src="/assets/images/persona.jpg" alt="persona" class="team-persona-img">
          <div class="team-persona-text">
            <div class="team-persona-name">Jane Doe</div>
            <div>Président</div>
            <div>Janedoe@noble-retour.org</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
