<div class="toolbar-logo-text">Noble retour</div>

<div class="toolbar-menu">
  <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Accueil</a>
  <a routerLinkActive="active" routerLink="/about">À propos</a>
  <a routerLinkActive="active" routerLink="/news">Nouvelles</a>
  <a routerLinkActive="active" routerLink="/membership">Adhésion</a>
  <a routerLinkActive="active" routerLink="/donations">Donations</a>
</div>

<div class="toolbar-buttons">
  <button mat-raised-button color="primary">Connexion</button>
  <button mat-button>FR</button>
</div>
