.app-footer {
  background-color: #faf9f8;
  display: block;
}

.footer-copyright {
  padding: 16px;
  background-color: #f3f2f1;
}

.footer-body {
  color: #393939;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
