<div class="footer-body">
  <div>

    <h2>Contacts</h2>
    <div>
      <div>+32 (0) 465.48.48.50</div>
      <div>info@noble-retour.org</div>
      <div>Rue Fouche 18, 6060 Charleroi, Belgique.</div>
    </div>
  </div>

  <div>
    <h2>Noble retour</h2>
    <div>
      <div><a href="#">Accueil</a></div>
      <div><a href="#">À propos</a></div>
      <div><a href="#">Nouvelles</a></div>
      <div><a href="#">Adhésion</a></div>
      <div><a href="#">Donations</a></div>
    </div>
  </div>

  <div>
    <h2>Informations légales</h2>
    <div>
      <div><a href="#">Conditions d'utilisation</a></div>
      <div><a href="#">Règle de confidentialité</a></div>
      <div><a href="#">Cookies et vie privée</a></div>
    </div>
  </div>

  <div>
    <h2>Nous suivre</h2>
    <div>
      <img src="/assets/social/facebook.png" width="40" height="40" alt="Facebook">
      <img class="pl-1" src="/assets/social/instagram.png" width="40" height="40" alt="Instagram">
      <img class="pl-1" src="/assets/social/linkedin.png" width="40" height="40" alt="Linkedin">
      <img class="pl-1" src="/assets/social/twitter.png" width="40" height="40" alt="Twitter">
    </div>
  </div>
</div>

<div class="footer-copyright">
  COPYRIGHT © 2020 NOBLE-RETOUR TOUS DROITS RESERVÉS.
</div>
