<app-layout>
  <div class="banner">
    <img src="/assets/images/home-banner.png" alt="Home banner">
    <div class="banner-cover"></div>

    <div class="banner-body">
      <div>
        <div class="banner-text">
          Rapatriez la dépouille de vos proches
          en toute dignité.
        </div>
        <div class="banner-buttons">
          <button mat-raised-button color="primary">Faire un rapatriement</button>
          <button mat-stroked-button color="warn" style="color: #FFF; margin-left: 36px">Devenir adhérant</button>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex mt-6">
    <img src="/assets/images/apropos.jpeg" alt="A propos" height="400">
    <div style="display: flex; flex-direction: column; align-items: center; margin-left: 30px">
      <h1>NOBLE RETOUR</h1>
        <div style="height: 3px; width: 20%; background-color: var(--primaryColor)"></div>

      <div class="mt-5 text-center paragraph" >
        Noble Retour asbl est une associatione, qui a pour but l’assistance dans l’organisation de
        rapatriement funéraire. En contrepartie d’une cotisation, Nous assurons aux familles de ses adhérents,
        un soutien financier, administratif, moral et social en cas de décès de ce dernier.
      </div>

      <div class="mt-5">
        <button mat-raised-button color="primary">Lire la suite</button>
      </div>
    </div>
  </div>



  <div class="mt-6">
    <h1 class=" text-center">Que faisons nous pour vous?</h1>

    <div class=" d-flex justify-content-between flex-wrap">
      <div class="service-item mt-4">
        <h3 class="service-title">Formalités administratives</h3>
        <div class="service-text mt-4">
          En étroite collaboration avec la famille, il s’agit de déclaration de décès
        </div>

        <div class="mt-4">
          <button mat-stroked-button color="primary" class="text-uppercase">En savoir plus</button>
        </div>
      </div>
      <div class="service-item mt-4">
        <h3 class="service-title">Formalités administratives</h3>
        <div class="service-text mt-4">
          En étroite collaboration avec la famille, il s’agit de déclaration de décès
        </div>

        <div class="mt-4">
          <button mat-stroked-button color="primary" class="text-uppercase">En savoir plus</button>
        </div>
      </div><div class="service-item mt-4">
      <h3 class="service-title">Formalités administratives</h3>
      <div class="service-text mt-4">
        En étroite collaboration avec la famille, il s’agit de déclaration de décès
      </div>

      <div class="mt-4">
        <button mat-stroked-button color="primary" class="text-uppercase">En savoir plus</button>
      </div>
    </div><div class="service-item mt-4">
      <h3 class="service-title">Formalités administratives</h3>
      <div class="service-text mt-4">
        En étroite collaboration avec la famille, il s’agit de déclaration de décès
      </div>

      <div class="mt-4">
        <button mat-stroked-button color="primary" class="text-uppercase">En savoir plus</button>
      </div>
    </div>
      <div class="service-item mt-4">
        <h3 class="service-title">Formalités administratives</h3>
        <div class="service-text mt-4">
          En étroite collaboration avec la famille, il s’agit de déclaration de décès
        </div>

        <div class="mt-4">
          <button mat-stroked-button color="primary" class="text-uppercase">En savoir plus</button>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-6">
    <h1 class=" text-center">Que faisons nous pour vous?</h1>
    <div class="paragraph text-center">
      Nous effectuons un versement aux bénéficiaires d’une somme maximale de 8000 euros, destinée
      à financer le rapatriement du membre décédé.
    </div>

    <div class="mt-4 text-center">
      <button mat-raised-button color="primary">Faire un don</button>
    </div>
  </div>


  <div class="mt-6 stat d-flex justify-content-between flex-wrap">
    <div class="stat-item">
      <div class="stat-number">14</div>
      <div class="stat-label">Adhérants</div>
    </div>

    <div class="stat-item">
      <div class="stat-number">140</div>
      <div class="stat-label">Dons</div>
    </div>

    <div class="stat-item">
      <div class="stat-number">14</div>
      <div class="stat-label">Adhérants</div>
    </div>
  </div>

  <div class="mt-6">
    <h1>Video youtube</h1>
  </div>
</app-layout>
