.service-item {
  width: 340px;
  border: 1px solid #bebbb8;
  padding: 16px;
  border-radius: 2px;

  & .service-title {
    font-weight: 500;
    font-size: 22px;
    color: #393939;
  }
}


.stat {
  background-color: #faf9f8;
  padding: 16px;
  width: 100%;
}

.stat-item {
  width: 340px;
  padding-bottom: 16px;
  margin-top: 16px;
  border-radius: 2px;
  font-size: 38px;
  border-bottom: 5px solid #bebbb8;


  & .stat-number {
    color: var(--primaryColor);
  }

  & .stat-label {
    margin-top: 46px;
    color: #393939;
  }
}
