<app-layout>
  <div style="font-weight: 200; font-size: 18px">
   <div class="banner">
     <img src="/assets/images/adhesion-60ans.jpg" alt="Member ship banner">
     <div class="banner-cover"></div>

     <div class="banner-body">
       <div>
         <div class="banner-text">Prenez part à notre projet dès à présent!</div>
         <div class="banner-buttons">
           <button mat-raised-button color="primary">Adhérer</button>
           <button mat-stroked-button color="warn" style="color: #FFF; margin-left: 36px">Nous contacter</button>
         </div>
       </div>
     </div>
   </div>


  <div  class="mt-5">
    <h1>Pourquoi devenir membre</h1>
    <div>
      Noble Retour, avec l’aide de ses partenaires, est là pour vous aider à faire face au décès d’un proche en prenant en charge
      les formalités administratives et financières à hauteur du montant de l’aide au rapatriement.
    </div>
  </div>

  <div class="mt-5">
    <h1>Conditions d'adhésion</h1>
    <div>
      Devant la mort, nous sommes tous égaux, voilà pourquoi les services de Noble Retour asbl se veulent inclusifs et accessibles à tous.
      Quels que soient votre origine (Afrique Subsaharienne), votre statut social, votre statut administratif ou votre lieu de résidence (Europe),
      vous pouvez adhérer à l’association Noble Retour et vous soulager ainsi que vos proches, des soucis financiers et moraux.
    </div>
  </div>

  <div class="mt-5">
    <h1>Comment devenir membre ?</h1>
    <div>
      <p>
        Afin de devenir membre adhérent, vous devez au préalable prendre connaissance de notre règlement d’ordre intérieur,
        nos statuts ainsi que nos conditions générales qui se trouvent en bas de page sur le présent site.
        Ensuite, vous devez remplir un formulaire d’adhésion reprenant vos informations personnelles et
        celles de vo(s) bénéficiaire(s) qu’il faudra mettre à jour fréquemment.
      </p>
      <p>
        Une fois cette étape finie, il faudra s’acquitter de:
      </p>

      <ul>
        <li>Des frais d’adhésion unique et individuel de 26 euros.</li>
        <li>Cotisation annuelle et individuelle de 50 euros.</li>
      </ul>

      <p>
        Il est aussi possible de faire et payer son inscription sur le site internet via l’onglet « Adhésion ».
        Pour cela, il vous suffit de cliquer sur le lien ci-dessous.
      </p>
      <p>
        NB: le montant des frais d’adhésion est de 26 euros et la cotisation annuelle de 50 euros.
      </p>
    </div>
  </div>

  </div>



</app-layout>
